**/node_modules
**/.next
**/.cache
**/dist
**/.env
**/.env.local
**/.env.*.local
api/uploads
api/prisma/dev.db
api/prisma/dev.db-journal
api/prisma/migrations/dev
.git
.github
.next
.omc
.claude
.playwright-mcp
docs
*.md
